.App {
  font-family: "Against", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App h1 {
  font-size: 70px;
}

.button {
  background-color: crimson;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: transparent;
  margin: 10px;
  font-family: "Against", sans-serif;
  font-size: 22px;
}

.button:hover {
  cursor: pointer;
}

.card-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.turns {
  margin: 10px;
  background-color: crimson;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 22px;
}

.game-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
